
<br/><br/><br/>
<b><i> Query Compound </i></b><br/><br/>
<% if !@CSID.nil?%>
    <%="ChemSpider CSID_____"%>
    <%=@CSID%>
<%end%>
<% if !@PUBCHEM_COMPOUND_CID.nil?%>
    <%="Pubchem CID_____"%>
    <%=@PUBCHEM_COMPOUND_CID%>
<%end%>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Structure_______
<div style="margin-left:400px;margin-top:-78px" >
  <img src="/uploads/chemstruct.jpeg"  height="150" width="150">
</div>

<br/><br/><br/>


<%= form_tag("/pbpkmodels/search_models", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>

<br/>
<br/>

<style type="text/css">

    #left_side {
        float: left;
    }

    #right_side {
        width: 3500px;
    }

    table, th, td, tr{
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<div id="left_side">
  <table>
    <thead>
    <tr align="center">
      <th width="150" height="40">Chemical</th>
      <th width="80">Simiarity Index</th>
      <th width="80">Simiarity Rank</th>
    </tr>
    </thead>
    </table>
    </div>
    <div id="right_side">
  <table>
    <thead>
    <tr align="center">
      <th width="150" height="40">PMID</th>
      <th width="200" >Model Type</th>
      <th width="200">Species Strain</th>
      <th width="100" >Gender</th>
      <th width="200" >Development Stage</th>
      <th width="400" >Routes of Administration</th>
      <th width="150" >Number of Compartments</th>
      <th width="1000" >Organ Compartmentse</th>
    </tr>
    </thead>
  </table>
    </div>


    <%@tanimoto_rank.each do |a| %>
    <%if @pbpk_searched_models_chemical.include? a[0] %>
        <%model=@pbpkmodels_searched.select { |b| b["chemical"] == a[0]} %>
        <%if model.length > 1%>
            <% width_ajs=2.4153*model.length - 2.3615%>
        <%else%>
            <% width_ajs=0%>
        <% end %>


        <div id="left_side" >
        <table>
        <tbody>

          <tr align="center">
            <td width="150" height="<%=40*model.length+width_ajs%>"><%= a[0] %></td>
            <td width="80" height="<%=40*model.length+width_ajs%>"><%= a[1].round(4) %></td>
            <td width="80" height="<%=40*model.length+width_ajs%>"><%= @tanimoto_rank.index(a)+1 %></td>
          </tr>
          </tbody>
        </table>
        </div>



        <div id="right_side">
        <table>
           <%model.each do |ccc| %>
              <tbody>
              <tr align="center">
                <td width="150"  height="40"><%= ccc["pmid"] %></td>
                <td width="200"  height="40"><%= ccc["model_type"] %></td>
                <td width="200"  height="40"><%= ccc["species_strain"].gsub(/"/, "").gsub(/,/, ", ") %></td>
                <td width="100"  height="40"><%= ccc["gender"].gsub(/"/, "").gsub(/,/, ", ") %></td>
                <td width="200"  height="40"><%= ccc["development_stage"].gsub(/"/, "").gsub(/,/, ", ") %></td>
                <td width="400"  height="40"><%= ccc["routes_of_administration"].gsub(/"/, "").gsub(/,/, ", ") %></td>
                <td width="150"  height="40"><%= ccc["number_of_compartments"] %></td>
                <td width="1000"  height="40"><%= ccc["organ_compartments"].gsub(/"/, "").gsub(/,/, ", ") %></td>

              </tr>
          <% end %>
          </tbody>
        </table>

          </div>
    <% end %>
<% end %>