<h1>Fileup#save</h1>
<p>Find me in app/views/fileup/save.html.erb</p>



<div class="field">
  structure

</div>

<div class="field">

  <img src="/uploads/chemstruct.jpeg" />

</div>

<div class="field">
  fingerprints for uploaded chemical

</div>


<div class="field">
  <%= @fp %>

</div>





<div class="field">


  <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
  </style>

  <table>

    <tbody>
    <tr>
      <td><%= @f0[0] %></td>
      <td><%= @f0[1] %></td>
      <td><%= @f0[2] %></td>
      <td><%= @f0[3] %></td>
      <td><%= @f0[4] %></td>
      <td><%= @f0[5] %></td>
      <td><%= @f0[6] %></td>
      <td><%= @f0[7] %></td>
      <td><%= @f0[8] %></td>
      <td><%= @f0[9] %></td>
      <td><%= @f0[10] %></td>
      <td><%= @f0[11] %></td>
      <td><%= @f0[12] %></td>
      <td><%= @f0[13] %></td>
      <td><%= @f0[14] %></td>
      <td><%= @f0[15] %></td>
      <td><%= @f0[16] %></td>
      <td><%= @f0[17] %></td>
      <td><%= @f0[18] %></td>
      <td><%= @f0[19] %></td>
      <td><%= @f0[20] %></td>
      <td><%= @f0[21] %></td>
      <td><%= @f0[22] %></td>
      <td><%= @f0[23] %></td>
      <td><%= @f0[24] %></td>
      <td><%= @f0[25] %></td>
      <td><%= @f0[26] %></td>
      <td><%= @f0[27] %></td>
      <td><%= @f0[28] %></td>
      <td><%= @f0[29] %></td>
      <td><%= @f0[30] %></td>
      <td><%= @f0[31] %></td>
      <td><%= @f0[32] %></td>
      <td><%= @f0[33] %></td>
      <td><%= @f0[34] %></td>
      <td><%= @f0[35] %></td>
      <td><%= @f0[36] %></td>
      <td><%= @f0[37] %></td>
      <td><%= @f0[38] %></td>
      <td><%= @f0[39] %></td>
      <td><%= @f0[40] %></td>
      <td><%= @f0[41] %></td>
      <td><%= @f0[42] %></td>
      <td><%= @f0[43] %></td>
      <td><%= @f0[44] %></td>
      <td><%= @f0[45] %></td>
      <td><%= @f0[46] %></td>
      <td><%= @f0[47] %></td>
      <td><%= @f0[48] %></td>
      <td><%= @f0[49] %></td>
      <td><%= @f0[50] %></td>
      <td><%= @f0[51] %></td>
      <td><%= @f0[52] %></td>
      <td><%= @f0[53] %></td>
      <td><%= @f0[54] %></td>
      <td><%= @f0[55] %></td>
      <td><%= @f0[56] %></td>
      <td><%= @f0[57] %></td>
      <td><%= @f0[58] %></td>
      <td><%= @f0[59] %></td>
      <td><%= @f0[60] %></td>
      <td><%= @f0[61] %></td>
      <td><%= @f0[62] %></td>
      <td><%= @f0[63] %></td>
      <td><%= @f0[64] %></td>
      <td><%= @f0[65] %></td>
      <td><%= @f0[66] %></td>
      <td><%= @f0[67] %></td>
      <td><%= @f0[68] %></td>
      <td><%= @f0[69] %></td>
      <td><%= @f0[70] %></td>
      <td><%= @f0[71] %></td>
      <td><%= @f0[72] %></td>
      <td><%= @f0[73] %></td>
      <td><%= @f0[74] %></td>
      <td><%= @f0[75] %></td>
      <td><%= @f0[76] %></td>
      <td><%= @f0[77] %></td>
      <td><%= @f0[78] %></td>
      <td><%= @f0[79] %></td>
      <td><%= @f0[80] %></td>
      <td><%= @f0[81] %></td>
      <td><%= @f0[82] %></td>
      <td><%= @f0[83] %></td>
      <td><%= @f0[84] %></td>
      <td><%= @f0[85] %></td>
      <td><%= @f0[86] %></td>
      <td><%= @f0[87] %></td>
      <td><%= @f0[88] %></td>
      <td><%= @f0[89] %></td>
      <td><%= @f0[90] %></td>
      <td><%= @f0[91] %></td>
      <td><%= @f0[92] %></td>
      <td><%= @f0[93] %></td>
      <td><%= @f0[94] %></td>
      <td><%= @f0[95] %></td>
      <td><%= @f0[96] %></td>
      <td><%= @f0[97] %></td>
      <td><%= @f0[98] %></td>
      <td><%= @f0[99] %></td>
      <td><%= @f0[100] %></td>
      <td><%= @f0[101] %></td>
      <td><%= @f0[102] %></td>
      <td><%= @f0[103] %></td>
      <td><%= @f0[104] %></td>
      <td><%= @f0[105] %></td>
      <td><%= @f0[106] %></td>
      <td><%= @f0[107] %></td>
      <td><%= @f0[108] %></td>
      <td><%= @f0[109] %></td>
      <td><%= @f0[110] %></td>
      <td><%= @f0[111] %></td>
      <td><%= @f0[112] %></td>
      <td><%= @f0[113] %></td>
      <td><%= @f0[114] %></td>
      <td><%= @f0[115] %></td>
      <td><%= @f0[116] %></td>
      <td><%= @f0[117] %></td>
      <td><%= @f0[118] %></td>
      <td><%= @f0[119] %></td>
      <td><%= @f0[120] %></td>
      <td><%= @f0[121] %></td>
      <td><%= @f0[122] %></td>
      <td><%= @f0[123] %></td>
      <td><%= @f0[124] %></td>
      <td><%= @f0[125] %></td>
      <td><%= @f0[126] %></td>
      <td><%= @f0[127] %></td>
      <td><%= @f0[128] %></td>
      <td><%= @f0[129] %></td>
      <td><%= @f0[130] %></td>
      <td><%= @f0[131] %></td>
      <td><%= @f0[132] %></td>
      <td><%= @f0[133] %></td>
      <td><%= @f0[134] %></td>
      <td><%= @f0[135] %></td>
      <td><%= @f0[136] %></td>
      <td><%= @f0[137] %></td>
      <td><%= @f0[138] %></td>
      <td><%= @f0[139] %></td>
      <td><%= @f0[140] %></td>
      <td><%= @f0[141] %></td>
      <td><%= @f0[142] %></td>
      <td><%= @f0[143] %></td>
      <td><%= @f0[144] %></td>
      <td><%= @f0[145] %></td>
      <td><%= @f0[146] %></td>
      <td><%= @f0[147] %></td>
      <td><%= @f0[148] %></td>
      <td><%= @f0[149] %></td>
      <td><%= @f0[150] %></td>
      <td><%= @f0[151] %></td>
      <td><%= @f0[152] %></td>
      <td><%= @f0[153] %></td>
      <td><%= @f0[154] %></td>
      <td><%= @f0[155] %></td>
      <td><%= @f0[156] %></td>
      <td><%= @f0[157] %></td>
      <td><%= @f0[158] %></td>
      <td><%= @f0[159] %></td>
      <td><%= @f0[160] %></td>
      <td><%= @f0[161] %></td>
      <td><%= @f0[162] %></td>
      <td><%= @f0[163] %></td>
      <td><%= @f0[164] %></td>
      <td><%= @f0[165] %></td>
      <td><%= @f0[166] %></td>
      <td><%= @f0[167] %></td>
      <td><%= @f0[168] %></td>
      <td><%= @f0[169] %></td>
      <td><%= @f0[170] %></td>
      <td><%= @f0[171] %></td>
      <td><%= @f0[172] %></td>
      <td><%= @f0[173] %></td>
      <td><%= @f0[174] %></td>
      <td><%= @f0[175] %></td>
      <td><%= @f0[176] %></td>
      <td><%= @f0[177] %></td>
      <td><%= @f0[178] %></td>
      <td><%= @f0[179] %></td>
      <td><%= @f0[180] %></td>
      <td><%= @f0[181] %></td>
      <td><%= @f0[182] %></td>
      <td><%= @f0[183] %></td>
      <td><%= @f0[184] %></td>
      <td><%= @f0[185] %></td>
      <td><%= @f0[186] %></td>
      <td><%= @f0[187] %></td>
      <td><%= @f0[188] %></td>
      <td><%= @f0[189] %></td>
      <td><%= @f0[190] %></td>
      <td><%= @f0[191] %></td>
      <td><%= @f0[192] %></td>
      <td><%= @f0[193] %></td>
      <td><%= @f0[194] %></td>
      <td><%= @f0[195] %></td>
      <td><%= @f0[196] %></td>
      <td><%= @f0[197] %></td>
      <td><%= @f0[198] %></td>
      <td><%= @f0[199] %></td>
      <td><%= @f0[200] %></td>
      <td><%= @f0[201] %></td>
      <td><%= @f0[202] %></td>
      <td><%= @f0[203] %></td>
      <td><%= @f0[204] %></td>
      <td><%= @f0[205] %></td>
      <td><%= @f0[206] %></td>
      <td><%= @f0[207] %></td>
      <td><%= @f0[208] %></td>
      <td><%= @f0[209] %></td>
      <td><%= @f0[210] %></td>
      <td><%= @f0[211] %></td>
      <td><%= @f0[212] %></td>
      <td><%= @f0[213] %></td>
      <td><%= @f0[214] %></td>
      <td><%= @f0[215] %></td>
      <td><%= @f0[216] %></td>
      <td><%= @f0[217] %></td>
      <td><%= @f0[218] %></td>
      <td><%= @f0[219] %></td>
      <td><%= @f0[220] %></td>
      <td><%= @f0[221] %></td>
      <td><%= @f0[222] %></td>
      <td><%= @f0[223] %></td>
      <td><%= @f0[224] %></td>
      <td><%= @f0[225] %></td>
      <td><%= @f0[226] %></td>
      <td><%= @f0[227] %></td>
      <td><%= @f0[228] %></td>
      <td><%= @f0[229] %></td>
      <td><%= @f0[230] %></td>
      <td><%= @f0[231] %></td>
      <td><%= @f0[232] %></td>
      <td><%= @f0[233] %></td>
      <td><%= @f0[234] %></td>
      <td><%= @f0[235] %></td>
      <td><%= @f0[236] %></td>
      <td><%= @f0[237] %></td>
      <td><%= @f0[238] %></td>
      <td><%= @f0[239] %></td>
      <td><%= @f0[240] %></td>
      <td><%= @f0[241] %></td>
      <td><%= @f0[242] %></td>
      <td><%= @f0[243] %></td>
      <td><%= @f0[244] %></td>
      <td><%= @f0[245] %></td>
      <td><%= @f0[246] %></td>
      <td><%= @f0[247] %></td>
      <td><%= @f0[248] %></td>
      <td><%= @f0[249] %></td>
      <td><%= @f0[250] %></td>
      <td><%= @f0[251] %></td>
      <td><%= @f0[252] %></td>
      <td><%= @f0[253] %></td>
      <td><%= @f0[254] %></td>
      <td><%= @f0[255] %></td>
      <td><%= @f0[256] %></td>
      <td><%= @f0[257] %></td>
      <td><%= @f0[258] %></td>
      <td><%= @f0[259] %></td>
      <td><%= @f0[260] %></td>
      <td><%= @f0[261] %></td>
      <td><%= @f0[262] %></td>
      <td><%= @f0[263] %></td>
      <td><%= @f0[264] %></td>
      <td><%= @f0[265] %></td>
      <td><%= @f0[266] %></td>
      <td><%= @f0[267] %></td>
      <td><%= @f0[268] %></td>
      <td><%= @f0[269] %></td>
      <td><%= @f0[270] %></td>
      <td><%= @f0[271] %></td>
      <td><%= @f0[272] %></td>
      <td><%= @f0[273] %></td>
      <td><%= @f0[274] %></td>
      <td><%= @f0[275] %></td>
      <td><%= @f0[276] %></td>
      <td><%= @f0[277] %></td>
      <td><%= @f0[278] %></td>
      <td><%= @f0[279] %></td>
      <td><%= @f0[280] %></td>
      <td><%= @f0[281] %></td>
      <td><%= @f0[282] %></td>
      <td><%= @f0[283] %></td>
      <td><%= @f0[284] %></td>
      <td><%= @f0[285] %></td>
      <td><%= @f0[286] %></td>
      <td><%= @f0[287] %></td>
      <td><%= @f0[288] %></td>
      <td><%= @f0[289] %></td>
      <td><%= @f0[290] %></td>
      <td><%= @f0[291] %></td>
      <td><%= @f0[292] %></td>
      <td><%= @f0[293] %></td>
      <td><%= @f0[294] %></td>
      <td><%= @f0[295] %></td>
      <td><%= @f0[296] %></td>
      <td><%= @f0[297] %></td>
      <td><%= @f0[298] %></td>
      <td><%= @f0[299] %></td>
      <td><%= @f0[300] %></td>
      <td><%= @f0[301] %></td>
      <td><%= @f0[302] %></td>
      <td><%= @f0[303] %></td>
      <td><%= @f0[304] %></td>
      <td><%= @f0[305] %></td>
      <td><%= @f0[306] %></td>
      <td><%= @f0[307] %></td>
      <td><%= @f0[308] %></td>
      <td><%= @f0[309] %></td>
      <td><%= @f0[310] %></td>
      <td><%= @f0[311] %></td>
      <td><%= @f0[312] %></td>
      <td><%= @f0[313] %></td>
      <td><%= @f0[314] %></td>
      <td><%= @f0[315] %></td>
      <td><%= @f0[316] %></td>
      <td><%= @f0[317] %></td>
      <td><%= @f0[318] %></td>
      <td><%= @f0[319] %></td>
      <td><%= @f0[320] %></td>
      <td><%= @f0[321] %></td>
      <td><%= @f0[322] %></td>
      <td><%= @f0[323] %></td>
      <td><%= @f0[324] %></td>
      <td><%= @f0[325] %></td>
      <td><%= @f0[326] %></td>
      <td><%= @f0[327] %></td>
      <td><%= @f0[328] %></td>
      <td><%= @f0[329] %></td>
      <td><%= @f0[330] %></td>
      <td><%= @f0[331] %></td>
      <td><%= @f0[332] %></td>
      <td><%= @f0[333] %></td>
      <td><%= @f0[334] %></td>
      <td><%= @f0[335] %></td>
      <td><%= @f0[336] %></td>
      <td><%= @f0[337] %></td>
      <td><%= @f0[338] %></td>
      <td><%= @f0[339] %></td>
      <td><%= @f0[340] %></td>
      <td><%= @f0[341] %></td>
      <td><%= @f0[342] %></td>
      <td><%= @f0[343] %></td>
      <td><%= @f0[344] %></td>
      <td><%= @f0[345] %></td>
      <td><%= @f0[346] %></td>
      <td><%= @f0[347] %></td>
      <td><%= @f0[348] %></td>
      <td><%= @f0[349] %></td>
      <td><%= @f0[350] %></td>
      <td><%= @f0[351] %></td>
      <td><%= @f0[352] %></td>
      <td><%= @f0[353] %></td>
      <td><%= @f0[354] %></td>
      <td><%= @f0[355] %></td>
      <td><%= @f0[356] %></td>
      <td><%= @f0[357] %></td>
      <td><%= @f0[358] %></td>
      <td><%= @f0[359] %></td>
      <td><%= @f0[360] %></td>
      <td><%= @f0[361] %></td>
      <td><%= @f0[362] %></td>
      <td><%= @f0[363] %></td>
      <td><%= @f0[364] %></td>
      <td><%= @f0[365] %></td>
      <td><%= @f0[366] %></td>
      <td><%= @f0[367] %></td>
      <td><%= @f0[368] %></td>
      <td><%= @f0[369] %></td>
      <td><%= @f0[370] %></td>
      <td><%= @f0[371] %></td>
      <td><%= @f0[372] %></td>
      <td><%= @f0[373] %></td>
      <td><%= @f0[374] %></td>
      <td><%= @f0[375] %></td>
      <td><%= @f0[376] %></td>
      <td><%= @f0[377] %></td>
      <td><%= @f0[378] %></td>
      <td><%= @f0[379] %></td>
      <td><%= @f0[380] %></td>
      <td><%= @f0[381] %></td>
      <td><%= @f0[382] %></td>
      <td><%= @f0[383] %></td>
      <td><%= @f0[384] %></td>
      <td><%= @f0[385] %></td>
      <td><%= @f0[386] %></td>
      <td><%= @f0[387] %></td>
      <td><%= @f0[388] %></td>
      <td><%= @f0[389] %></td>
      <td><%= @f0[390] %></td>
      <td><%= @f0[391] %></td>
      <td><%= @f0[392] %></td>
      <td><%= @f0[393] %></td>
      <td><%= @f0[394] %></td>
      <td><%= @f0[395] %></td>
      <td><%= @f0[396] %></td>
      <td><%= @f0[397] %></td>
      <td><%= @f0[398] %></td>
      <td><%= @f0[399] %></td>
      <td><%= @f0[400] %></td>
      <td><%= @f0[401] %></td>
      <td><%= @f0[402] %></td>
      <td><%= @f0[403] %></td>
      <td><%= @f0[404] %></td>
      <td><%= @f0[405] %></td>
      <td><%= @f0[406] %></td>
      <td><%= @f0[407] %></td>
      <td><%= @f0[408] %></td>
      <td><%= @f0[409] %></td>
      <td><%= @f0[410] %></td>
      <td><%= @f0[411] %></td>
      <td><%= @f0[412] %></td>
      <td><%= @f0[413] %></td>
      <td><%= @f0[414] %></td>
      <td><%= @f0[415] %></td>
      <td><%= @f0[416] %></td>
      <td><%= @f0[417] %></td>
      <td><%= @f0[418] %></td>
      <td><%= @f0[419] %></td>
      <td><%= @f0[420] %></td>
      <td><%= @f0[421] %></td>
      <td><%= @f0[422] %></td>
      <td><%= @f0[423] %></td>
      <td><%= @f0[424] %></td>
      <td><%= @f0[425] %></td>
      <td><%= @f0[426] %></td>
      <td><%= @f0[427] %></td>
      <td><%= @f0[428] %></td>
      <td><%= @f0[429] %></td>
      <td><%= @f0[430] %></td>
      <td><%= @f0[431] %></td>
      <td><%= @f0[432] %></td>
      <td><%= @f0[433] %></td>
      <td><%= @f0[434] %></td>
      <td><%= @f0[435] %></td>
      <td><%= @f0[436] %></td>
      <td><%= @f0[437] %></td>
      <td><%= @f0[438] %></td>
      <td><%= @f0[439] %></td>
      <td><%= @f0[440] %></td>
      <td><%= @f0[441] %></td>
      <td><%= @f0[442] %></td>
      <td><%= @f0[443] %></td>
      <td><%= @f0[444] %></td>
      <td><%= @f0[445] %></td>
      <td><%= @f0[446] %></td>
      <td><%= @f0[447] %></td>
      <td><%= @f0[448] %></td>
      <td><%= @f0[449] %></td>
      <td><%= @f0[450] %></td>
      <td><%= @f0[451] %></td>
      <td><%= @f0[452] %></td>
      <td><%= @f0[453] %></td>
      <td><%= @f0[454] %></td>
      <td><%= @f0[455] %></td>
      <td><%= @f0[456] %></td>
      <td><%= @f0[457] %></td>
      <td><%= @f0[458] %></td>
      <td><%= @f0[459] %></td>
      <td><%= @f0[460] %></td>
      <td><%= @f0[461] %></td>
      <td><%= @f0[462] %></td>
      <td><%= @f0[463] %></td>
      <td><%= @f0[464] %></td>
      <td><%= @f0[465] %></td>
      <td><%= @f0[466] %></td>
      <td><%= @f0[467] %></td>
      <td><%= @f0[468] %></td>
      <td><%= @f0[469] %></td>
      <td><%= @f0[470] %></td>
      <td><%= @f0[471] %></td>
      <td><%= @f0[472] %></td>
      <td><%= @f0[473] %></td>
      <td><%= @f0[474] %></td>
      <td><%= @f0[475] %></td>
      <td><%= @f0[476] %></td>
      <td><%= @f0[477] %></td>
      <td><%= @f0[478] %></td>
      <td><%= @f0[479] %></td>
      <td><%= @f0[480] %></td>
      <td><%= @f0[481] %></td>
      <td><%= @f0[482] %></td>
      <td><%= @f0[483] %></td>
      <td><%= @f0[484] %></td>
      <td><%= @f0[485] %></td>
      <td><%= @f0[486] %></td>
      <td><%= @f0[487] %></td>
      <td><%= @f0[488] %></td>
      <td><%= @f0[489] %></td>
      <td><%= @f0[490] %></td>
      <td><%= @f0[491] %></td>
      <td><%= @f0[492] %></td>
      <td><%= @f0[493] %></td>
      <td><%= @f0[494] %></td>
      <td><%= @f0[495] %></td>
      <td><%= @f0[496] %></td>
      <td><%= @f0[497] %></td>
      <td><%= @f0[498] %></td>
      <td><%= @f0[499] %></td>
      <td><%= @f0[500] %></td>
      <td><%= @f0[501] %></td>
      <td><%= @f0[502] %></td>
      <td><%= @f0[503] %></td>
      <td><%= @f0[504] %></td>
      <td><%= @f0[505] %></td>
      <td><%= @f0[506] %></td>
      <td><%= @f0[507] %></td>
      <td><%= @f0[508] %></td>
      <td><%= @f0[509] %></td>
      <td><%= @f0[510] %></td>
      <td><%= @f0[511] %></td>
      <td><%= @f0[512] %></td>
      <td><%= @f0[513] %></td>
      <td><%= @f0[514] %></td>
      <td><%= @f0[515] %></td>
      <td><%= @f0[516] %></td>
      <td><%= @f0[517] %></td>
      <td><%= @f0[518] %></td>
      <td><%= @f0[519] %></td>
      <td><%= @f0[520] %></td>
      <td><%= @f0[521] %></td>
      <td><%= @f0[522] %></td>
      <td><%= @f0[523] %></td>
      <td><%= @f0[524] %></td>
      <td><%= @f0[525] %></td>
      <td><%= @f0[526] %></td>
      <td><%= @f0[527] %></td>
      <td><%= @f0[528] %></td>
      <td><%= @f0[529] %></td>
      <td><%= @f0[530] %></td>
      <td><%= @f0[531] %></td>
      <td><%= @f0[532] %></td>
      <td><%= @f0[533] %></td>
      <td><%= @f0[534] %></td>
      <td><%= @f0[535] %></td>
      <td><%= @f0[536] %></td>
      <td><%= @f0[537] %></td>
      <td><%= @f0[538] %></td>
      <td><%= @f0[539] %></td>
      <td><%= @f0[540] %></td>
      <td><%= @f0[541] %></td>
      <td><%= @f0[542] %></td>
      <td><%= @f0[543] %></td>
      <td><%= @f0[544] %></td>
      <td><%= @f0[545] %></td>
      <td><%= @f0[546] %></td>
      <td><%= @f0[547] %></td>
      <td><%= @f0[548] %></td>
      <td><%= @f0[549] %></td>
      <td><%= @f0[550] %></td>
      <td><%= @f0[551] %></td>
      <td><%= @f0[552] %></td>
      <td><%= @f0[553] %></td>
      <td><%= @f0[554] %></td>
      <td><%= @f0[555] %></td>
      <td><%= @f0[556] %></td>
      <td><%= @f0[557] %></td>
      <td><%= @f0[558] %></td>
      <td><%= @f0[559] %></td>
      <td><%= @f0[560] %></td>
      <td><%= @f0[561] %></td>
      <td><%= @f0[562] %></td>
      <td><%= @f0[563] %></td>
      <td><%= @f0[564] %></td>
      <td><%= @f0[565] %></td>
      <td><%= @f0[566] %></td>
      <td><%= @f0[567] %></td>
      <td><%= @f0[568] %></td>
      <td><%= @f0[569] %></td>
      <td><%= @f0[570] %></td>
      <td><%= @f0[571] %></td>
      <td><%= @f0[572] %></td>
      <td><%= @f0[573] %></td>
      <td><%= @f0[574] %></td>
      <td><%= @f0[575] %></td>
      <td><%= @f0[576] %></td>
      <td><%= @f0[577] %></td>
      <td><%= @f0[578] %></td>
      <td><%= @f0[579] %></td>
      <td><%= @f0[580] %></td>
      <td><%= @f0[581] %></td>
      <td><%= @f0[582] %></td>
      <td><%= @f0[583] %></td>
      <td><%= @f0[584] %></td>
      <td><%= @f0[585] %></td>
      <td><%= @f0[586] %></td>
      <td><%= @f0[587] %></td>
      <td><%= @f0[588] %></td>
      <td><%= @f0[589] %></td>
      <td><%= @f0[590] %></td>
      <td><%= @f0[591] %></td>
      <td><%= @f0[592] %></td>
      <td><%= @f0[593] %></td>
      <td><%= @f0[594] %></td>
      <td><%= @f0[595] %></td>
      <td><%= @f0[596] %></td>
      <td><%= @f0[597] %></td>
      <td><%= @f0[598] %></td>
      <td><%= @f0[599] %></td>
      <td><%= @f0[600] %></td>
      <td><%= @f0[601] %></td>
      <td><%= @f0[602] %></td>
      <td><%= @f0[603] %></td>
      <td><%= @f0[604] %></td>
      <td><%= @f0[605] %></td>
      <td><%= @f0[606] %></td>
      <td><%= @f0[607] %></td>
      <td><%= @f0[608] %></td>
      <td><%= @f0[609] %></td>
      <td><%= @f0[610] %></td>
      <td><%= @f0[611] %></td>
      <td><%= @f0[612] %></td>
      <td><%= @f0[613] %></td>
      <td><%= @f0[614] %></td>
      <td><%= @f0[615] %></td>
      <td><%= @f0[616] %></td>
      <td><%= @f0[617] %></td>
      <td><%= @f0[618] %></td>
      <td><%= @f0[619] %></td>
      <td><%= @f0[620] %></td>
      <td><%= @f0[621] %></td>
      <td><%= @f0[622] %></td>
      <td><%= @f0[623] %></td>
      <td><%= @f0[624] %></td>
      <td><%= @f0[625] %></td>
      <td><%= @f0[626] %></td>
      <td><%= @f0[627] %></td>
      <td><%= @f0[628] %></td>
      <td><%= @f0[629] %></td>
      <td><%= @f0[630] %></td>
      <td><%= @f0[631] %></td>
      <td><%= @f0[632] %></td>
      <td><%= @f0[633] %></td>
      <td><%= @f0[634] %></td>
      <td><%= @f0[635] %></td>
      <td><%= @f0[636] %></td>
      <td><%= @f0[637] %></td>
      <td><%= @f0[638] %></td>
      <td><%= @f0[639] %></td>
      <td><%= @f0[640] %></td>
      <td><%= @f0[641] %></td>
      <td><%= @f0[642] %></td>
      <td><%= @f0[643] %></td>
      <td><%= @f0[644] %></td>
      <td><%= @f0[645] %></td>
      <td><%= @f0[646] %></td>
      <td><%= @f0[647] %></td>
      <td><%= @f0[648] %></td>
      <td><%= @f0[649] %></td>
      <td><%= @f0[650] %></td>
      <td><%= @f0[651] %></td>
      <td><%= @f0[652] %></td>
      <td><%= @f0[653] %></td>
      <td><%= @f0[654] %></td>
      <td><%= @f0[655] %></td>
      <td><%= @f0[656] %></td>
      <td><%= @f0[657] %></td>
      <td><%= @f0[658] %></td>
      <td><%= @f0[659] %></td>
      <td><%= @f0[660] %></td>
      <td><%= @f0[661] %></td>
      <td><%= @f0[662] %></td>
      <td><%= @f0[663] %></td>
      <td><%= @f0[664] %></td>
      <td><%= @f0[665] %></td>
      <td><%= @f0[666] %></td>
      <td><%= @f0[667] %></td>
      <td><%= @f0[668] %></td>
      <td><%= @f0[669] %></td>
      <td><%= @f0[670] %></td>
      <td><%= @f0[671] %></td>
      <td><%= @f0[672] %></td>
      <td><%= @f0[673] %></td>
      <td><%= @f0[674] %></td>
      <td><%= @f0[675] %></td>
      <td><%= @f0[676] %></td>
      <td><%= @f0[677] %></td>
      <td><%= @f0[678] %></td>
      <td><%= @f0[679] %></td>
      <td><%= @f0[680] %></td>
      <td><%= @f0[681] %></td>
      <td><%= @f0[682] %></td>
      <td><%= @f0[683] %></td>
      <td><%= @f0[684] %></td>
      <td><%= @f0[685] %></td>
      <td><%= @f0[686] %></td>
      <td><%= @f0[687] %></td>
      <td><%= @f0[688] %></td>
      <td><%= @f0[689] %></td>
      <td><%= @f0[690] %></td>
      <td><%= @f0[691] %></td>
      <td><%= @f0[692] %></td>
      <td><%= @f0[693] %></td>
      <td><%= @f0[694] %></td>
      <td><%= @f0[695] %></td>
      <td><%= @f0[696] %></td>
      <td><%= @f0[697] %></td>
      <td><%= @f0[698] %></td>
      <td><%= @f0[699] %></td>
      <td><%= @f0[700] %></td>
      <td><%= @f0[701] %></td>
      <td><%= @f0[702] %></td>
      <td><%= @f0[703] %></td>
      <td><%= @f0[704] %></td>
      <td><%= @f0[705] %></td>
      <td><%= @f0[706] %></td>
      <td><%= @f0[707] %></td>
      <td><%= @f0[708] %></td>
      <td><%= @f0[709] %></td>
      <td><%= @f0[710] %></td>
      <td><%= @f0[711] %></td>
      <td><%= @f0[712] %></td>
      <td><%= @f0[713] %></td>
      <td><%= @f0[714] %></td>
      <td><%= @f0[715] %></td>
      <td><%= @f0[716] %></td>
      <td><%= @f0[717] %></td>
      <td><%= @f0[718] %></td>
      <td><%= @f0[719] %></td>
      <td><%= @f0[720] %></td>
      <td><%= @f0[721] %></td>
      <td><%= @f0[722] %></td>
      <td><%= @f0[723] %></td>
      <td><%= @f0[724] %></td>
      <td><%= @f0[725] %></td>
      <td><%= @f0[726] %></td>
      <td><%= @f0[727] %></td>
      <td><%= @f0[728] %></td>
      <td><%= @f0[729] %></td>
      <td><%= @f0[730] %></td>
      <td><%= @f0[731] %></td>
      <td><%= @f0[732] %></td>
      <td><%= @f0[733] %></td>
      <td><%= @f0[734] %></td>
      <td><%= @f0[735] %></td>
      <td><%= @f0[736] %></td>
      <td><%= @f0[737] %></td>
      <td><%= @f0[738] %></td>
      <td><%= @f0[739] %></td>
      <td><%= @f0[740] %></td>
      <td><%= @f0[741] %></td>
      <td><%= @f0[742] %></td>
      <td><%= @f0[743] %></td>
      <td><%= @f0[744] %></td>
      <td><%= @f0[745] %></td>
      <td><%= @f0[746] %></td>
      <td><%= @f0[747] %></td>
      <td><%= @f0[748] %></td>
      <td><%= @f0[749] %></td>
      <td><%= @f0[750] %></td>
      <td><%= @f0[751] %></td>
      <td><%= @f0[752] %></td>
      <td><%= @f0[753] %></td>
      <td><%= @f0[754] %></td>
      <td><%= @f0[755] %></td>
      <td><%= @f0[756] %></td>
      <td><%= @f0[757] %></td>
      <td><%= @f0[758] %></td>
      <td><%= @f0[759] %></td>
      <td><%= @f0[760] %></td>
      <td><%= @f0[761] %></td>
      <td><%= @f0[762] %></td>
      <td><%= @f0[763] %></td>
      <td><%= @f0[764] %></td>
      <td><%= @f0[765] %></td>
      <td><%= @f0[766] %></td>
      <td><%= @f0[767] %></td>
      <td><%= @f0[768] %></td>
      <td><%= @f0[769] %></td>
      <td><%= @f0[770] %></td>
      <td><%= @f0[771] %></td>
      <td><%= @f0[772] %></td>
      <td><%= @f0[773] %></td>
      <td><%= @f0[774] %></td>
      <td><%= @f0[775] %></td>
      <td><%= @f0[776] %></td>
      <td><%= @f0[777] %></td>
      <td><%= @f0[778] %></td>
      <td><%= @f0[779] %></td>
      <td><%= @f0[780] %></td>
      <td><%= @f0[781] %></td>
      <td><%= @f0[782] %></td>
      <td><%= @f0[783] %></td>
      <td><%= @f0[784] %></td>
      <td><%= @f0[785] %></td>
      <td><%= @f0[786] %></td>
      <td><%= @f0[787] %></td>
      <td><%= @f0[788] %></td>
      <td><%= @f0[789] %></td>
      <td><%= @f0[790] %></td>
      <td><%= @f0[791] %></td>
      <td><%= @f0[792] %></td>
      <td><%= @f0[793] %></td>
      <td><%= @f0[794] %></td>
      <td><%= @f0[795] %></td>
      <td><%= @f0[796] %></td>
      <td><%= @f0[797] %></td>
      <td><%= @f0[798] %></td>
      <td><%= @f0[799] %></td>
      <td><%= @f0[800] %></td>
      <td><%= @f0[801] %></td>
      <td><%= @f0[802] %></td>
      <td><%= @f0[803] %></td>
      <td><%= @f0[804] %></td>
      <td><%= @f0[805] %></td>
      <td><%= @f0[806] %></td>
      <td><%= @f0[807] %></td>
      <td><%= @f0[808] %></td>
      <td><%= @f0[809] %></td>
      <td><%= @f0[810] %></td>
      <td><%= @f0[811] %></td>
      <td><%= @f0[812] %></td>
      <td><%= @f0[813] %></td>
      <td><%= @f0[814] %></td>
      <td><%= @f0[815] %></td>
      <td><%= @f0[816] %></td>
      <td><%= @f0[817] %></td>
      <td><%= @f0[818] %></td>
      <td><%= @f0[819] %></td>
      <td><%= @f0[820] %></td>
      <td><%= @f0[821] %></td>
      <td><%= @f0[822] %></td>
      <td><%= @f0[823] %></td>
      <td><%= @f0[824] %></td>
      <td><%= @f0[825] %></td>
      <td><%= @f0[826] %></td>
      <td><%= @f0[827] %></td>
      <td><%= @f0[828] %></td>
      <td><%= @f0[829] %></td>
      <td><%= @f0[830] %></td>
      <td><%= @f0[831] %></td>
      <td><%= @f0[832] %></td>
      <td><%= @f0[833] %></td>
      <td><%= @f0[834] %></td>
      <td><%= @f0[835] %></td>
      <td><%= @f0[836] %></td>
      <td><%= @f0[837] %></td>
      <td><%= @f0[838] %></td>
      <td><%= @f0[839] %></td>
      <td><%= @f0[840] %></td>
      <td><%= @f0[841] %></td>
      <td><%= @f0[842] %></td>
      <td><%= @f0[843] %></td>
      <td><%= @f0[844] %></td>
      <td><%= @f0[845] %></td>
      <td><%= @f0[846] %></td>
      <td><%= @f0[847] %></td>
      <td><%= @f0[848] %></td>
      <td><%= @f0[849] %></td>
      <td><%= @f0[850] %></td>
      <td><%= @f0[851] %></td>
      <td><%= @f0[852] %></td>
      <td><%= @f0[853] %></td>
      <td><%= @f0[854] %></td>
      <td><%= @f0[855] %></td>
      <td><%= @f0[856] %></td>
      <td><%= @f0[857] %></td>
      <td><%= @f0[858] %></td>
      <td><%= @f0[859] %></td>
      <td><%= @f0[860] %></td>
      <td><%= @f0[861] %></td>
      <td><%= @f0[862] %></td>
      <td><%= @f0[863] %></td>
      <td><%= @f0[864] %></td>
      <td><%= @f0[865] %></td>
      <td><%= @f0[866] %></td>
      <td><%= @f0[867] %></td>
      <td><%= @f0[868] %></td>
      <td><%= @f0[869] %></td>
      <td><%= @f0[870] %></td>
      <td><%= @f0[871] %></td>
      <td><%= @f0[872] %></td>
      <td><%= @f0[873] %></td>
      <td><%= @f0[874] %></td>
      <td><%= @f0[875] %></td>
      <td><%= @f0[876] %></td>
      <td><%= @f0[877] %></td>
      <td><%= @f0[878] %></td>
      <td><%= @f0[879] %></td>
      <td><%= @f0[880] %></td>
      <td><%= @f0[881] %></td>
      <td><%= @f0[882] %></td>

    </tr>
    <tr>
      <td><%= @f1[0] %></td>
      <td><%= @f1[1] %></td>
      <td><%= @f1[2] %></td>
      <td><%= @f1[3] %></td>
      <td><%= @f1[4] %></td>
      <td><%= @f1[5] %></td>
      <td><%= @f1[6] %></td>
      <td><%= @f1[7] %></td>
      <td><%= @f1[8] %></td>
      <td><%= @f1[9] %></td>
      <td><%= @f1[10] %></td>
      <td><%= @f1[11] %></td>
      <td><%= @f1[12] %></td>
      <td><%= @f1[13] %></td>
      <td><%= @f1[14] %></td>
      <td><%= @f1[15] %></td>
      <td><%= @f1[16] %></td>
      <td><%= @f1[17] %></td>
      <td><%= @f1[18] %></td>
      <td><%= @f1[19] %></td>
      <td><%= @f1[20] %></td>
      <td><%= @f1[21] %></td>
      <td><%= @f1[22] %></td>
      <td><%= @f1[23] %></td>
      <td><%= @f1[24] %></td>
      <td><%= @f1[25] %></td>
      <td><%= @f1[26] %></td>
      <td><%= @f1[27] %></td>
      <td><%= @f1[28] %></td>
      <td><%= @f1[29] %></td>
      <td><%= @f1[30] %></td>
      <td><%= @f1[31] %></td>
      <td><%= @f1[32] %></td>
      <td><%= @f1[33] %></td>
      <td><%= @f1[34] %></td>
      <td><%= @f1[35] %></td>
      <td><%= @f1[36] %></td>
      <td><%= @f1[37] %></td>
      <td><%= @f1[38] %></td>
      <td><%= @f1[39] %></td>
      <td><%= @f1[40] %></td>
      <td><%= @f1[41] %></td>
      <td><%= @f1[42] %></td>
      <td><%= @f1[43] %></td>
      <td><%= @f1[44] %></td>
      <td><%= @f1[45] %></td>
      <td><%= @f1[46] %></td>
      <td><%= @f1[47] %></td>
      <td><%= @f1[48] %></td>
      <td><%= @f1[49] %></td>
      <td><%= @f1[50] %></td>
      <td><%= @f1[51] %></td>
      <td><%= @f1[52] %></td>
      <td><%= @f1[53] %></td>
      <td><%= @f1[54] %></td>
      <td><%= @f1[55] %></td>
      <td><%= @f1[56] %></td>
      <td><%= @f1[57] %></td>
      <td><%= @f1[58] %></td>
      <td><%= @f1[59] %></td>
      <td><%= @f1[60] %></td>
      <td><%= @f1[61] %></td>
      <td><%= @f1[62] %></td>
      <td><%= @f1[63] %></td>
      <td><%= @f1[64] %></td>
      <td><%= @f1[65] %></td>
      <td><%= @f1[66] %></td>
      <td><%= @f1[67] %></td>
      <td><%= @f1[68] %></td>
      <td><%= @f1[69] %></td>
      <td><%= @f1[70] %></td>
      <td><%= @f1[71] %></td>
      <td><%= @f1[72] %></td>
      <td><%= @f1[73] %></td>
      <td><%= @f1[74] %></td>
      <td><%= @f1[75] %></td>
      <td><%= @f1[76] %></td>
      <td><%= @f1[77] %></td>
      <td><%= @f1[78] %></td>
      <td><%= @f1[79] %></td>
      <td><%= @f1[80] %></td>
      <td><%= @f1[81] %></td>
      <td><%= @f1[82] %></td>
      <td><%= @f1[83] %></td>
      <td><%= @f1[84] %></td>
      <td><%= @f1[85] %></td>
      <td><%= @f1[86] %></td>
      <td><%= @f1[87] %></td>
      <td><%= @f1[88] %></td>
      <td><%= @f1[89] %></td>
      <td><%= @f1[90] %></td>
      <td><%= @f1[91] %></td>
      <td><%= @f1[92] %></td>
      <td><%= @f1[93] %></td>
      <td><%= @f1[94] %></td>
      <td><%= @f1[95] %></td>
      <td><%= @f1[96] %></td>
      <td><%= @f1[97] %></td>
      <td><%= @f1[98] %></td>
      <td><%= @f1[99] %></td>
      <td><%= @f1[100] %></td>
      <td><%= @f1[101] %></td>
      <td><%= @f1[102] %></td>
      <td><%= @f1[103] %></td>
      <td><%= @f1[104] %></td>
      <td><%= @f1[105] %></td>
      <td><%= @f1[106] %></td>
      <td><%= @f1[107] %></td>
      <td><%= @f1[108] %></td>
      <td><%= @f1[109] %></td>
      <td><%= @f1[110] %></td>
      <td><%= @f1[111] %></td>
      <td><%= @f1[112] %></td>
      <td><%= @f1[113] %></td>
      <td><%= @f1[114] %></td>
      <td><%= @f1[115] %></td>
      <td><%= @f1[116] %></td>
      <td><%= @f1[117] %></td>
      <td><%= @f1[118] %></td>
      <td><%= @f1[119] %></td>
      <td><%= @f1[120] %></td>
      <td><%= @f1[121] %></td>
      <td><%= @f1[122] %></td>
      <td><%= @f1[123] %></td>
      <td><%= @f1[124] %></td>
      <td><%= @f1[125] %></td>
      <td><%= @f1[126] %></td>
      <td><%= @f1[127] %></td>
      <td><%= @f1[128] %></td>
      <td><%= @f1[129] %></td>
      <td><%= @f1[130] %></td>
      <td><%= @f1[131] %></td>
      <td><%= @f1[132] %></td>
      <td><%= @f1[133] %></td>
      <td><%= @f1[134] %></td>
      <td><%= @f1[135] %></td>
      <td><%= @f1[136] %></td>
      <td><%= @f1[137] %></td>
      <td><%= @f1[138] %></td>
      <td><%= @f1[139] %></td>
      <td><%= @f1[140] %></td>
      <td><%= @f1[141] %></td>
      <td><%= @f1[142] %></td>
      <td><%= @f1[143] %></td>
      <td><%= @f1[144] %></td>
      <td><%= @f1[145] %></td>
      <td><%= @f1[146] %></td>
      <td><%= @f1[147] %></td>
      <td><%= @f1[148] %></td>
      <td><%= @f1[149] %></td>
      <td><%= @f1[150] %></td>
      <td><%= @f1[151] %></td>
      <td><%= @f1[152] %></td>
      <td><%= @f1[153] %></td>
      <td><%= @f1[154] %></td>
      <td><%= @f1[155] %></td>
      <td><%= @f1[156] %></td>
      <td><%= @f1[157] %></td>
      <td><%= @f1[158] %></td>
      <td><%= @f1[159] %></td>
      <td><%= @f1[160] %></td>
      <td><%= @f1[161] %></td>
      <td><%= @f1[162] %></td>
      <td><%= @f1[163] %></td>
      <td><%= @f1[164] %></td>
      <td><%= @f1[165] %></td>
      <td><%= @f1[166] %></td>
      <td><%= @f1[167] %></td>
      <td><%= @f1[168] %></td>
      <td><%= @f1[169] %></td>
      <td><%= @f1[170] %></td>
      <td><%= @f1[171] %></td>
      <td><%= @f1[172] %></td>
      <td><%= @f1[173] %></td>
      <td><%= @f1[174] %></td>
      <td><%= @f1[175] %></td>
      <td><%= @f1[176] %></td>
      <td><%= @f1[177] %></td>
      <td><%= @f1[178] %></td>
      <td><%= @f1[179] %></td>
      <td><%= @f1[180] %></td>
      <td><%= @f1[181] %></td>
      <td><%= @f1[182] %></td>
      <td><%= @f1[183] %></td>
      <td><%= @f1[184] %></td>
      <td><%= @f1[185] %></td>
      <td><%= @f1[186] %></td>
      <td><%= @f1[187] %></td>
      <td><%= @f1[188] %></td>
      <td><%= @f1[189] %></td>
      <td><%= @f1[190] %></td>
      <td><%= @f1[191] %></td>
      <td><%= @f1[192] %></td>
      <td><%= @f1[193] %></td>
      <td><%= @f1[194] %></td>
      <td><%= @f1[195] %></td>
      <td><%= @f1[196] %></td>
      <td><%= @f1[197] %></td>
      <td><%= @f1[198] %></td>
      <td><%= @f1[199] %></td>
      <td><%= @f1[200] %></td>
      <td><%= @f1[201] %></td>
      <td><%= @f1[202] %></td>
      <td><%= @f1[203] %></td>
      <td><%= @f1[204] %></td>
      <td><%= @f1[205] %></td>
      <td><%= @f1[206] %></td>
      <td><%= @f1[207] %></td>
      <td><%= @f1[208] %></td>
      <td><%= @f1[209] %></td>
      <td><%= @f1[210] %></td>
      <td><%= @f1[211] %></td>
      <td><%= @f1[212] %></td>
      <td><%= @f1[213] %></td>
      <td><%= @f1[214] %></td>
      <td><%= @f1[215] %></td>
      <td><%= @f1[216] %></td>
      <td><%= @f1[217] %></td>
      <td><%= @f1[218] %></td>
      <td><%= @f1[219] %></td>
      <td><%= @f1[220] %></td>
      <td><%= @f1[221] %></td>
      <td><%= @f1[222] %></td>
      <td><%= @f1[223] %></td>
      <td><%= @f1[224] %></td>
      <td><%= @f1[225] %></td>
      <td><%= @f1[226] %></td>
      <td><%= @f1[227] %></td>
      <td><%= @f1[228] %></td>
      <td><%= @f1[229] %></td>
      <td><%= @f1[230] %></td>
      <td><%= @f1[231] %></td>
      <td><%= @f1[232] %></td>
      <td><%= @f1[233] %></td>
      <td><%= @f1[234] %></td>
      <td><%= @f1[235] %></td>
      <td><%= @f1[236] %></td>
      <td><%= @f1[237] %></td>
      <td><%= @f1[238] %></td>
      <td><%= @f1[239] %></td>
      <td><%= @f1[240] %></td>
      <td><%= @f1[241] %></td>
      <td><%= @f1[242] %></td>
      <td><%= @f1[243] %></td>
      <td><%= @f1[244] %></td>
      <td><%= @f1[245] %></td>
      <td><%= @f1[246] %></td>
      <td><%= @f1[247] %></td>
      <td><%= @f1[248] %></td>
      <td><%= @f1[249] %></td>
      <td><%= @f1[250] %></td>
      <td><%= @f1[251] %></td>
      <td><%= @f1[252] %></td>
      <td><%= @f1[253] %></td>
      <td><%= @f1[254] %></td>
      <td><%= @f1[255] %></td>
      <td><%= @f1[256] %></td>
      <td><%= @f1[257] %></td>
      <td><%= @f1[258] %></td>
      <td><%= @f1[259] %></td>
      <td><%= @f1[260] %></td>
      <td><%= @f1[261] %></td>
      <td><%= @f1[262] %></td>
      <td><%= @f1[263] %></td>
      <td><%= @f1[264] %></td>
      <td><%= @f1[265] %></td>
      <td><%= @f1[266] %></td>
      <td><%= @f1[267] %></td>
      <td><%= @f1[268] %></td>
      <td><%= @f1[269] %></td>
      <td><%= @f1[270] %></td>
      <td><%= @f1[271] %></td>
      <td><%= @f1[272] %></td>
      <td><%= @f1[273] %></td>
      <td><%= @f1[274] %></td>
      <td><%= @f1[275] %></td>
      <td><%= @f1[276] %></td>
      <td><%= @f1[277] %></td>
      <td><%= @f1[278] %></td>
      <td><%= @f1[279] %></td>
      <td><%= @f1[280] %></td>
      <td><%= @f1[281] %></td>
      <td><%= @f1[282] %></td>
      <td><%= @f1[283] %></td>
      <td><%= @f1[284] %></td>
      <td><%= @f1[285] %></td>
      <td><%= @f1[286] %></td>
      <td><%= @f1[287] %></td>
      <td><%= @f1[288] %></td>
      <td><%= @f1[289] %></td>
      <td><%= @f1[290] %></td>
      <td><%= @f1[291] %></td>
      <td><%= @f1[292] %></td>
      <td><%= @f1[293] %></td>
      <td><%= @f1[294] %></td>
      <td><%= @f1[295] %></td>
      <td><%= @f1[296] %></td>
      <td><%= @f1[297] %></td>
      <td><%= @f1[298] %></td>
      <td><%= @f1[299] %></td>
      <td><%= @f1[300] %></td>
      <td><%= @f1[301] %></td>
      <td><%= @f1[302] %></td>
      <td><%= @f1[303] %></td>
      <td><%= @f1[304] %></td>
      <td><%= @f1[305] %></td>
      <td><%= @f1[306] %></td>
      <td><%= @f1[307] %></td>
      <td><%= @f1[308] %></td>
      <td><%= @f1[309] %></td>
      <td><%= @f1[310] %></td>
      <td><%= @f1[311] %></td>
      <td><%= @f1[312] %></td>
      <td><%= @f1[313] %></td>
      <td><%= @f1[314] %></td>
      <td><%= @f1[315] %></td>
      <td><%= @f1[316] %></td>
      <td><%= @f1[317] %></td>
      <td><%= @f1[318] %></td>
      <td><%= @f1[319] %></td>
      <td><%= @f1[320] %></td>
      <td><%= @f1[321] %></td>
      <td><%= @f1[322] %></td>
      <td><%= @f1[323] %></td>
      <td><%= @f1[324] %></td>
      <td><%= @f1[325] %></td>
      <td><%= @f1[326] %></td>
      <td><%= @f1[327] %></td>
      <td><%= @f1[328] %></td>
      <td><%= @f1[329] %></td>
      <td><%= @f1[330] %></td>
      <td><%= @f1[331] %></td>
      <td><%= @f1[332] %></td>
      <td><%= @f1[333] %></td>
      <td><%= @f1[334] %></td>
      <td><%= @f1[335] %></td>
      <td><%= @f1[336] %></td>
      <td><%= @f1[337] %></td>
      <td><%= @f1[338] %></td>
      <td><%= @f1[339] %></td>
      <td><%= @f1[340] %></td>
      <td><%= @f1[341] %></td>
      <td><%= @f1[342] %></td>
      <td><%= @f1[343] %></td>
      <td><%= @f1[344] %></td>
      <td><%= @f1[345] %></td>
      <td><%= @f1[346] %></td>
      <td><%= @f1[347] %></td>
      <td><%= @f1[348] %></td>
      <td><%= @f1[349] %></td>
      <td><%= @f1[350] %></td>
      <td><%= @f1[351] %></td>
      <td><%= @f1[352] %></td>
      <td><%= @f1[353] %></td>
      <td><%= @f1[354] %></td>
      <td><%= @f1[355] %></td>
      <td><%= @f1[356] %></td>
      <td><%= @f1[357] %></td>
      <td><%= @f1[358] %></td>
      <td><%= @f1[359] %></td>
      <td><%= @f1[360] %></td>
      <td><%= @f1[361] %></td>
      <td><%= @f1[362] %></td>
      <td><%= @f1[363] %></td>
      <td><%= @f1[364] %></td>
      <td><%= @f1[365] %></td>
      <td><%= @f1[366] %></td>
      <td><%= @f1[367] %></td>
      <td><%= @f1[368] %></td>
      <td><%= @f1[369] %></td>
      <td><%= @f1[370] %></td>
      <td><%= @f1[371] %></td>
      <td><%= @f1[372] %></td>
      <td><%= @f1[373] %></td>
      <td><%= @f1[374] %></td>
      <td><%= @f1[375] %></td>
      <td><%= @f1[376] %></td>
      <td><%= @f1[377] %></td>
      <td><%= @f1[378] %></td>
      <td><%= @f1[379] %></td>
      <td><%= @f1[380] %></td>
      <td><%= @f1[381] %></td>
      <td><%= @f1[382] %></td>
      <td><%= @f1[383] %></td>
      <td><%= @f1[384] %></td>
      <td><%= @f1[385] %></td>
      <td><%= @f1[386] %></td>
      <td><%= @f1[387] %></td>
      <td><%= @f1[388] %></td>
      <td><%= @f1[389] %></td>
      <td><%= @f1[390] %></td>
      <td><%= @f1[391] %></td>
      <td><%= @f1[392] %></td>
      <td><%= @f1[393] %></td>
      <td><%= @f1[394] %></td>
      <td><%= @f1[395] %></td>
      <td><%= @f1[396] %></td>
      <td><%= @f1[397] %></td>
      <td><%= @f1[398] %></td>
      <td><%= @f1[399] %></td>
      <td><%= @f1[400] %></td>
      <td><%= @f1[401] %></td>
      <td><%= @f1[402] %></td>
      <td><%= @f1[403] %></td>
      <td><%= @f1[404] %></td>
      <td><%= @f1[405] %></td>
      <td><%= @f1[406] %></td>
      <td><%= @f1[407] %></td>
      <td><%= @f1[408] %></td>
      <td><%= @f1[409] %></td>
      <td><%= @f1[410] %></td>
      <td><%= @f1[411] %></td>
      <td><%= @f1[412] %></td>
      <td><%= @f1[413] %></td>
      <td><%= @f1[414] %></td>
      <td><%= @f1[415] %></td>
      <td><%= @f1[416] %></td>
      <td><%= @f1[417] %></td>
      <td><%= @f1[418] %></td>
      <td><%= @f1[419] %></td>
      <td><%= @f1[420] %></td>
      <td><%= @f1[421] %></td>
      <td><%= @f1[422] %></td>
      <td><%= @f1[423] %></td>
      <td><%= @f1[424] %></td>
      <td><%= @f1[425] %></td>
      <td><%= @f1[426] %></td>
      <td><%= @f1[427] %></td>
      <td><%= @f1[428] %></td>
      <td><%= @f1[429] %></td>
      <td><%= @f1[430] %></td>
      <td><%= @f1[431] %></td>
      <td><%= @f1[432] %></td>
      <td><%= @f1[433] %></td>
      <td><%= @f1[434] %></td>
      <td><%= @f1[435] %></td>
      <td><%= @f1[436] %></td>
      <td><%= @f1[437] %></td>
      <td><%= @f1[438] %></td>
      <td><%= @f1[439] %></td>
      <td><%= @f1[440] %></td>
      <td><%= @f1[441] %></td>
      <td><%= @f1[442] %></td>
      <td><%= @f1[443] %></td>
      <td><%= @f1[444] %></td>
      <td><%= @f1[445] %></td>
      <td><%= @f1[446] %></td>
      <td><%= @f1[447] %></td>
      <td><%= @f1[448] %></td>
      <td><%= @f1[449] %></td>
      <td><%= @f1[450] %></td>
      <td><%= @f1[451] %></td>
      <td><%= @f1[452] %></td>
      <td><%= @f1[453] %></td>
      <td><%= @f1[454] %></td>
      <td><%= @f1[455] %></td>
      <td><%= @f1[456] %></td>
      <td><%= @f1[457] %></td>
      <td><%= @f1[458] %></td>
      <td><%= @f1[459] %></td>
      <td><%= @f1[460] %></td>
      <td><%= @f1[461] %></td>
      <td><%= @f1[462] %></td>
      <td><%= @f1[463] %></td>
      <td><%= @f1[464] %></td>
      <td><%= @f1[465] %></td>
      <td><%= @f1[466] %></td>
      <td><%= @f1[467] %></td>
      <td><%= @f1[468] %></td>
      <td><%= @f1[469] %></td>
      <td><%= @f1[470] %></td>
      <td><%= @f1[471] %></td>
      <td><%= @f1[472] %></td>
      <td><%= @f1[473] %></td>
      <td><%= @f1[474] %></td>
      <td><%= @f1[475] %></td>
      <td><%= @f1[476] %></td>
      <td><%= @f1[477] %></td>
      <td><%= @f1[478] %></td>
      <td><%= @f1[479] %></td>
      <td><%= @f1[480] %></td>
      <td><%= @f1[481] %></td>
      <td><%= @f1[482] %></td>
      <td><%= @f1[483] %></td>
      <td><%= @f1[484] %></td>
      <td><%= @f1[485] %></td>
      <td><%= @f1[486] %></td>
      <td><%= @f1[487] %></td>
      <td><%= @f1[488] %></td>
      <td><%= @f1[489] %></td>
      <td><%= @f1[490] %></td>
      <td><%= @f1[491] %></td>
      <td><%= @f1[492] %></td>
      <td><%= @f1[493] %></td>
      <td><%= @f1[494] %></td>
      <td><%= @f1[495] %></td>
      <td><%= @f1[496] %></td>
      <td><%= @f1[497] %></td>
      <td><%= @f1[498] %></td>
      <td><%= @f1[499] %></td>
      <td><%= @f1[500] %></td>
      <td><%= @f1[501] %></td>
      <td><%= @f1[502] %></td>
      <td><%= @f1[503] %></td>
      <td><%= @f1[504] %></td>
      <td><%= @f1[505] %></td>
      <td><%= @f1[506] %></td>
      <td><%= @f1[507] %></td>
      <td><%= @f1[508] %></td>
      <td><%= @f1[509] %></td>
      <td><%= @f1[510] %></td>
      <td><%= @f1[511] %></td>
      <td><%= @f1[512] %></td>
      <td><%= @f1[513] %></td>
      <td><%= @f1[514] %></td>
      <td><%= @f1[515] %></td>
      <td><%= @f1[516] %></td>
      <td><%= @f1[517] %></td>
      <td><%= @f1[518] %></td>
      <td><%= @f1[519] %></td>
      <td><%= @f1[520] %></td>
      <td><%= @f1[521] %></td>
      <td><%= @f1[522] %></td>
      <td><%= @f1[523] %></td>
      <td><%= @f1[524] %></td>
      <td><%= @f1[525] %></td>
      <td><%= @f1[526] %></td>
      <td><%= @f1[527] %></td>
      <td><%= @f1[528] %></td>
      <td><%= @f1[529] %></td>
      <td><%= @f1[530] %></td>
      <td><%= @f1[531] %></td>
      <td><%= @f1[532] %></td>
      <td><%= @f1[533] %></td>
      <td><%= @f1[534] %></td>
      <td><%= @f1[535] %></td>
      <td><%= @f1[536] %></td>
      <td><%= @f1[537] %></td>
      <td><%= @f1[538] %></td>
      <td><%= @f1[539] %></td>
      <td><%= @f1[540] %></td>
      <td><%= @f1[541] %></td>
      <td><%= @f1[542] %></td>
      <td><%= @f1[543] %></td>
      <td><%= @f1[544] %></td>
      <td><%= @f1[545] %></td>
      <td><%= @f1[546] %></td>
      <td><%= @f1[547] %></td>
      <td><%= @f1[548] %></td>
      <td><%= @f1[549] %></td>
      <td><%= @f1[550] %></td>
      <td><%= @f1[551] %></td>
      <td><%= @f1[552] %></td>
      <td><%= @f1[553] %></td>
      <td><%= @f1[554] %></td>
      <td><%= @f1[555] %></td>
      <td><%= @f1[556] %></td>
      <td><%= @f1[557] %></td>
      <td><%= @f1[558] %></td>
      <td><%= @f1[559] %></td>
      <td><%= @f1[560] %></td>
      <td><%= @f1[561] %></td>
      <td><%= @f1[562] %></td>
      <td><%= @f1[563] %></td>
      <td><%= @f1[564] %></td>
      <td><%= @f1[565] %></td>
      <td><%= @f1[566] %></td>
      <td><%= @f1[567] %></td>
      <td><%= @f1[568] %></td>
      <td><%= @f1[569] %></td>
      <td><%= @f1[570] %></td>
      <td><%= @f1[571] %></td>
      <td><%= @f1[572] %></td>
      <td><%= @f1[573] %></td>
      <td><%= @f1[574] %></td>
      <td><%= @f1[575] %></td>
      <td><%= @f1[576] %></td>
      <td><%= @f1[577] %></td>
      <td><%= @f1[578] %></td>
      <td><%= @f1[579] %></td>
      <td><%= @f1[580] %></td>
      <td><%= @f1[581] %></td>
      <td><%= @f1[582] %></td>
      <td><%= @f1[583] %></td>
      <td><%= @f1[584] %></td>
      <td><%= @f1[585] %></td>
      <td><%= @f1[586] %></td>
      <td><%= @f1[587] %></td>
      <td><%= @f1[588] %></td>
      <td><%= @f1[589] %></td>
      <td><%= @f1[590] %></td>
      <td><%= @f1[591] %></td>
      <td><%= @f1[592] %></td>
      <td><%= @f1[593] %></td>
      <td><%= @f1[594] %></td>
      <td><%= @f1[595] %></td>
      <td><%= @f1[596] %></td>
      <td><%= @f1[597] %></td>
      <td><%= @f1[598] %></td>
      <td><%= @f1[599] %></td>
      <td><%= @f1[600] %></td>
      <td><%= @f1[601] %></td>
      <td><%= @f1[602] %></td>
      <td><%= @f1[603] %></td>
      <td><%= @f1[604] %></td>
      <td><%= @f1[605] %></td>
      <td><%= @f1[606] %></td>
      <td><%= @f1[607] %></td>
      <td><%= @f1[608] %></td>
      <td><%= @f1[609] %></td>
      <td><%= @f1[610] %></td>
      <td><%= @f1[611] %></td>
      <td><%= @f1[612] %></td>
      <td><%= @f1[613] %></td>
      <td><%= @f1[614] %></td>
      <td><%= @f1[615] %></td>
      <td><%= @f1[616] %></td>
      <td><%= @f1[617] %></td>
      <td><%= @f1[618] %></td>
      <td><%= @f1[619] %></td>
      <td><%= @f1[620] %></td>
      <td><%= @f1[621] %></td>
      <td><%= @f1[622] %></td>
      <td><%= @f1[623] %></td>
      <td><%= @f1[624] %></td>
      <td><%= @f1[625] %></td>
      <td><%= @f1[626] %></td>
      <td><%= @f1[627] %></td>
      <td><%= @f1[628] %></td>
      <td><%= @f1[629] %></td>
      <td><%= @f1[630] %></td>
      <td><%= @f1[631] %></td>
      <td><%= @f1[632] %></td>
      <td><%= @f1[633] %></td>
      <td><%= @f1[634] %></td>
      <td><%= @f1[635] %></td>
      <td><%= @f1[636] %></td>
      <td><%= @f1[637] %></td>
      <td><%= @f1[638] %></td>
      <td><%= @f1[639] %></td>
      <td><%= @f1[640] %></td>
      <td><%= @f1[641] %></td>
      <td><%= @f1[642] %></td>
      <td><%= @f1[643] %></td>
      <td><%= @f1[644] %></td>
      <td><%= @f1[645] %></td>
      <td><%= @f1[646] %></td>
      <td><%= @f1[647] %></td>
      <td><%= @f1[648] %></td>
      <td><%= @f1[649] %></td>
      <td><%= @f1[650] %></td>
      <td><%= @f1[651] %></td>
      <td><%= @f1[652] %></td>
      <td><%= @f1[653] %></td>
      <td><%= @f1[654] %></td>
      <td><%= @f1[655] %></td>
      <td><%= @f1[656] %></td>
      <td><%= @f1[657] %></td>
      <td><%= @f1[658] %></td>
      <td><%= @f1[659] %></td>
      <td><%= @f1[660] %></td>
      <td><%= @f1[661] %></td>
      <td><%= @f1[662] %></td>
      <td><%= @f1[663] %></td>
      <td><%= @f1[664] %></td>
      <td><%= @f1[665] %></td>
      <td><%= @f1[666] %></td>
      <td><%= @f1[667] %></td>
      <td><%= @f1[668] %></td>
      <td><%= @f1[669] %></td>
      <td><%= @f1[670] %></td>
      <td><%= @f1[671] %></td>
      <td><%= @f1[672] %></td>
      <td><%= @f1[673] %></td>
      <td><%= @f1[674] %></td>
      <td><%= @f1[675] %></td>
      <td><%= @f1[676] %></td>
      <td><%= @f1[677] %></td>
      <td><%= @f1[678] %></td>
      <td><%= @f1[679] %></td>
      <td><%= @f1[680] %></td>
      <td><%= @f1[681] %></td>
      <td><%= @f1[682] %></td>
      <td><%= @f1[683] %></td>
      <td><%= @f1[684] %></td>
      <td><%= @f1[685] %></td>
      <td><%= @f1[686] %></td>
      <td><%= @f1[687] %></td>
      <td><%= @f1[688] %></td>
      <td><%= @f1[689] %></td>
      <td><%= @f1[690] %></td>
      <td><%= @f1[691] %></td>
      <td><%= @f1[692] %></td>
      <td><%= @f1[693] %></td>
      <td><%= @f1[694] %></td>
      <td><%= @f1[695] %></td>
      <td><%= @f1[696] %></td>
      <td><%= @f1[697] %></td>
      <td><%= @f1[698] %></td>
      <td><%= @f1[699] %></td>
      <td><%= @f1[700] %></td>
      <td><%= @f1[701] %></td>
      <td><%= @f1[702] %></td>
      <td><%= @f1[703] %></td>
      <td><%= @f1[704] %></td>
      <td><%= @f1[705] %></td>
      <td><%= @f1[706] %></td>
      <td><%= @f1[707] %></td>
      <td><%= @f1[708] %></td>
      <td><%= @f1[709] %></td>
      <td><%= @f1[710] %></td>
      <td><%= @f1[711] %></td>
      <td><%= @f1[712] %></td>
      <td><%= @f1[713] %></td>
      <td><%= @f1[714] %></td>
      <td><%= @f1[715] %></td>
      <td><%= @f1[716] %></td>
      <td><%= @f1[717] %></td>
      <td><%= @f1[718] %></td>
      <td><%= @f1[719] %></td>
      <td><%= @f1[720] %></td>
      <td><%= @f1[721] %></td>
      <td><%= @f1[722] %></td>
      <td><%= @f1[723] %></td>
      <td><%= @f1[724] %></td>
      <td><%= @f1[725] %></td>
      <td><%= @f1[726] %></td>
      <td><%= @f1[727] %></td>
      <td><%= @f1[728] %></td>
      <td><%= @f1[729] %></td>
      <td><%= @f1[730] %></td>
      <td><%= @f1[731] %></td>
      <td><%= @f1[732] %></td>
      <td><%= @f1[733] %></td>
      <td><%= @f1[734] %></td>
      <td><%= @f1[735] %></td>
      <td><%= @f1[736] %></td>
      <td><%= @f1[737] %></td>
      <td><%= @f1[738] %></td>
      <td><%= @f1[739] %></td>
      <td><%= @f1[740] %></td>
      <td><%= @f1[741] %></td>
      <td><%= @f1[742] %></td>
      <td><%= @f1[743] %></td>
      <td><%= @f1[744] %></td>
      <td><%= @f1[745] %></td>
      <td><%= @f1[746] %></td>
      <td><%= @f1[747] %></td>
      <td><%= @f1[748] %></td>
      <td><%= @f1[749] %></td>
      <td><%= @f1[750] %></td>
      <td><%= @f1[751] %></td>
      <td><%= @f1[752] %></td>
      <td><%= @f1[753] %></td>
      <td><%= @f1[754] %></td>
      <td><%= @f1[755] %></td>
      <td><%= @f1[756] %></td>
      <td><%= @f1[757] %></td>
      <td><%= @f1[758] %></td>
      <td><%= @f1[759] %></td>
      <td><%= @f1[760] %></td>
      <td><%= @f1[761] %></td>
      <td><%= @f1[762] %></td>
      <td><%= @f1[763] %></td>
      <td><%= @f1[764] %></td>
      <td><%= @f1[765] %></td>
      <td><%= @f1[766] %></td>
      <td><%= @f1[767] %></td>
      <td><%= @f1[768] %></td>
      <td><%= @f1[769] %></td>
      <td><%= @f1[770] %></td>
      <td><%= @f1[771] %></td>
      <td><%= @f1[772] %></td>
      <td><%= @f1[773] %></td>
      <td><%= @f1[774] %></td>
      <td><%= @f1[775] %></td>
      <td><%= @f1[776] %></td>
      <td><%= @f1[777] %></td>
      <td><%= @f1[778] %></td>
      <td><%= @f1[779] %></td>
      <td><%= @f1[780] %></td>
      <td><%= @f1[781] %></td>
      <td><%= @f1[782] %></td>
      <td><%= @f1[783] %></td>
      <td><%= @f1[784] %></td>
      <td><%= @f1[785] %></td>
      <td><%= @f1[786] %></td>
      <td><%= @f1[787] %></td>
      <td><%= @f1[788] %></td>
      <td><%= @f1[789] %></td>
      <td><%= @f1[790] %></td>
      <td><%= @f1[791] %></td>
      <td><%= @f1[792] %></td>
      <td><%= @f1[793] %></td>
      <td><%= @f1[794] %></td>
      <td><%= @f1[795] %></td>
      <td><%= @f1[796] %></td>
      <td><%= @f1[797] %></td>
      <td><%= @f1[798] %></td>
      <td><%= @f1[799] %></td>
      <td><%= @f1[800] %></td>
      <td><%= @f1[801] %></td>
      <td><%= @f1[802] %></td>
      <td><%= @f1[803] %></td>
      <td><%= @f1[804] %></td>
      <td><%= @f1[805] %></td>
      <td><%= @f1[806] %></td>
      <td><%= @f1[807] %></td>
      <td><%= @f1[808] %></td>
      <td><%= @f1[809] %></td>
      <td><%= @f1[810] %></td>
      <td><%= @f1[811] %></td>
      <td><%= @f1[812] %></td>
      <td><%= @f1[813] %></td>
      <td><%= @f1[814] %></td>
      <td><%= @f1[815] %></td>
      <td><%= @f1[816] %></td>
      <td><%= @f1[817] %></td>
      <td><%= @f1[818] %></td>
      <td><%= @f1[819] %></td>
      <td><%= @f1[820] %></td>
      <td><%= @f1[821] %></td>
      <td><%= @f1[822] %></td>
      <td><%= @f1[823] %></td>
      <td><%= @f1[824] %></td>
      <td><%= @f1[825] %></td>
      <td><%= @f1[826] %></td>
      <td><%= @f1[827] %></td>
      <td><%= @f1[828] %></td>
      <td><%= @f1[829] %></td>
      <td><%= @f1[830] %></td>
      <td><%= @f1[831] %></td>
      <td><%= @f1[832] %></td>
      <td><%= @f1[833] %></td>
      <td><%= @f1[834] %></td>
      <td><%= @f1[835] %></td>
      <td><%= @f1[836] %></td>
      <td><%= @f1[837] %></td>
      <td><%= @f1[838] %></td>
      <td><%= @f1[839] %></td>
      <td><%= @f1[840] %></td>
      <td><%= @f1[841] %></td>
      <td><%= @f1[842] %></td>
      <td><%= @f1[843] %></td>
      <td><%= @f1[844] %></td>
      <td><%= @f1[845] %></td>
      <td><%= @f1[846] %></td>
      <td><%= @f1[847] %></td>
      <td><%= @f1[848] %></td>
      <td><%= @f1[849] %></td>
      <td><%= @f1[850] %></td>
      <td><%= @f1[851] %></td>
      <td><%= @f1[852] %></td>
      <td><%= @f1[853] %></td>
      <td><%= @f1[854] %></td>
      <td><%= @f1[855] %></td>
      <td><%= @f1[856] %></td>
      <td><%= @f1[857] %></td>
      <td><%= @f1[858] %></td>
      <td><%= @f1[859] %></td>
      <td><%= @f1[860] %></td>
      <td><%= @f1[861] %></td>
      <td><%= @f1[862] %></td>
      <td><%= @f1[863] %></td>
      <td><%= @f1[864] %></td>
      <td><%= @f1[865] %></td>
      <td><%= @f1[866] %></td>
      <td><%= @f1[867] %></td>
      <td><%= @f1[868] %></td>
      <td><%= @f1[869] %></td>
      <td><%= @f1[870] %></td>
      <td><%= @f1[871] %></td>
      <td><%= @f1[872] %></td>
      <td><%= @f1[873] %></td>
      <td><%= @f1[874] %></td>
      <td><%= @f1[875] %></td>
      <td><%= @f1[876] %></td>
      <td><%= @f1[877] %></td>
      <td><%= @f1[878] %></td>
      <td><%= @f1[879] %></td>
      <td><%= @f1[880] %></td>
      <td><%= @f1[881] %></td>
      <td><%= @f1[882] %></td>


    </tr>
    </tbody>
  </table>

</div>


<div>
  <%= link_to 'tanimotoooo', "/fileup/tanimoto" %>
</div>