
<br/><br/><br/>
<b><i> Query Compound </i></b><br/><br/>
<% if !@CSID.nil?%>
    <%="ChemSpider CSID_____"%>
  <%=@CSID%>
    <%end%>
<% if !@PUBCHEM_COMPOUND_CID.nil?%>
    <%="Pubchem CID_____"%>
    <%=@PUBCHEM_COMPOUND_CID%>
<%end%>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Structure_______
<div style="margin-left:400px;margin-top:-78px" >
  <img src="/uploads/chemstruct.jpeg"  height="150" width="150">
</div>

<br/><br/><br/>


  <font size="3">Query Compound Maccs Keys
    </font>

    <div style="margin-left:350px;margin-top:-30px;">

  <%= form_tag "/fileup/maccs_tanimoto", :method => 'get' do %>
      <p>
                <%= submit_tag "Tanimoto Similarity", :name => nil %>
       </p>
  <% end %>

</div>
<br/>


<div style="margin-left:50px;">

  <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
  </style>

  <table>
    <thead>
    <tr>
      <th>Maccs Key</th>
      <th>Value</th>
    </tr>
    </thead>




    <tbody>

    <tr><td><%= @f0[1] %></td><td><%= @f1[1] %></td></tr>
    <tr><td><%= @f0[2] %></td><td><%= @f1[2] %></td></tr>
    <tr><td><%= @f0[3] %></td><td><%= @f1[3] %></td></tr>
    <tr><td><%= @f0[4] %></td><td><%= @f1[4] %></td></tr>
    <tr><td><%= @f0[5] %></td><td><%= @f1[5] %></td></tr>
    <tr><td><%= @f0[6] %></td><td><%= @f1[6] %></td></tr>
    <tr><td><%= @f0[7] %></td><td><%= @f1[7] %></td></tr>
    <tr><td><%= @f0[8] %></td><td><%= @f1[8] %></td></tr>
    <tr><td><%= @f0[9] %></td><td><%= @f1[9] %></td></tr>
    <tr><td><%= @f0[10] %></td><td><%= @f1[10] %></td></tr>
    <tr><td><%= @f0[11] %></td><td><%= @f1[11] %></td></tr>
    <tr><td><%= @f0[12] %></td><td><%= @f1[12] %></td></tr>
    <tr><td><%= @f0[13] %></td><td><%= @f1[13] %></td></tr>
    <tr><td><%= @f0[14] %></td><td><%= @f1[14] %></td></tr>
    <tr><td><%= @f0[15] %></td><td><%= @f1[15] %></td></tr>
    <tr><td><%= @f0[16] %></td><td><%= @f1[16] %></td></tr>
    <tr><td><%= @f0[17] %></td><td><%= @f1[17] %></td></tr>
    <tr><td><%= @f0[18] %></td><td><%= @f1[18] %></td></tr>
    <tr><td><%= @f0[19] %></td><td><%= @f1[19] %></td></tr>
    <tr><td><%= @f0[20] %></td><td><%= @f1[20] %></td></tr>
    <tr><td><%= @f0[21] %></td><td><%= @f1[21] %></td></tr>
    <tr><td><%= @f0[22] %></td><td><%= @f1[22] %></td></tr>
    <tr><td><%= @f0[23] %></td><td><%= @f1[23] %></td></tr>
    <tr><td><%= @f0[24] %></td><td><%= @f1[24] %></td></tr>
    <tr><td><%= @f0[25] %></td><td><%= @f1[25] %></td></tr>
    <tr><td><%= @f0[26] %></td><td><%= @f1[26] %></td></tr>
    <tr><td><%= @f0[27] %></td><td><%= @f1[27] %></td></tr>
    <tr><td><%= @f0[28] %></td><td><%= @f1[28] %></td></tr>
    <tr><td><%= @f0[29] %></td><td><%= @f1[29] %></td></tr>
    <tr><td><%= @f0[30] %></td><td><%= @f1[30] %></td></tr>
    <tr><td><%= @f0[31] %></td><td><%= @f1[31] %></td></tr>
    <tr><td><%= @f0[32] %></td><td><%= @f1[32] %></td></tr>
    <tr><td><%= @f0[33] %></td><td><%= @f1[33] %></td></tr>
    <tr><td><%= @f0[34] %></td><td><%= @f1[34] %></td></tr>
    <tr><td><%= @f0[35] %></td><td><%= @f1[35] %></td></tr>
    <tr><td><%= @f0[36] %></td><td><%= @f1[36] %></td></tr>
    <tr><td><%= @f0[37] %></td><td><%= @f1[37] %></td></tr>
    <tr><td><%= @f0[38] %></td><td><%= @f1[38] %></td></tr>
    <tr><td><%= @f0[39] %></td><td><%= @f1[39] %></td></tr>
    <tr><td><%= @f0[40] %></td><td><%= @f1[40] %></td></tr>
    <tr><td><%= @f0[41] %></td><td><%= @f1[41] %></td></tr>
    <tr><td><%= @f0[42] %></td><td><%= @f1[42] %></td></tr>
    <tr><td><%= @f0[43] %></td><td><%= @f1[43] %></td></tr>
    <tr><td><%= @f0[44] %></td><td><%= @f1[44] %></td></tr>
    <tr><td><%= @f0[45] %></td><td><%= @f1[45] %></td></tr>
    <tr><td><%= @f0[46] %></td><td><%= @f1[46] %></td></tr>
    <tr><td><%= @f0[47] %></td><td><%= @f1[47] %></td></tr>
    <tr><td><%= @f0[48] %></td><td><%= @f1[48] %></td></tr>
    <tr><td><%= @f0[49] %></td><td><%= @f1[49] %></td></tr>
    <tr><td><%= @f0[50] %></td><td><%= @f1[50] %></td></tr>
    <tr><td><%= @f0[51] %></td><td><%= @f1[51] %></td></tr>
    <tr><td><%= @f0[52] %></td><td><%= @f1[52] %></td></tr>
    <tr><td><%= @f0[53] %></td><td><%= @f1[53] %></td></tr>
    <tr><td><%= @f0[54] %></td><td><%= @f1[54] %></td></tr>
    <tr><td><%= @f0[55] %></td><td><%= @f1[55] %></td></tr>
    <tr><td><%= @f0[56] %></td><td><%= @f1[56] %></td></tr>
    <tr><td><%= @f0[57] %></td><td><%= @f1[57] %></td></tr>
    <tr><td><%= @f0[58] %></td><td><%= @f1[58] %></td></tr>
    <tr><td><%= @f0[59] %></td><td><%= @f1[59] %></td></tr>
    <tr><td><%= @f0[60] %></td><td><%= @f1[60] %></td></tr>
    <tr><td><%= @f0[61] %></td><td><%= @f1[61] %></td></tr>
    <tr><td><%= @f0[62] %></td><td><%= @f1[62] %></td></tr>
    <tr><td><%= @f0[63] %></td><td><%= @f1[63] %></td></tr>
    <tr><td><%= @f0[64] %></td><td><%= @f1[64] %></td></tr>
    <tr><td><%= @f0[65] %></td><td><%= @f1[65] %></td></tr>
    <tr><td><%= @f0[66] %></td><td><%= @f1[66] %></td></tr>
    <tr><td><%= @f0[67] %></td><td><%= @f1[67] %></td></tr>
    <tr><td><%= @f0[68] %></td><td><%= @f1[68] %></td></tr>
    <tr><td><%= @f0[69] %></td><td><%= @f1[69] %></td></tr>
    <tr><td><%= @f0[70] %></td><td><%= @f1[70] %></td></tr>
    <tr><td><%= @f0[71] %></td><td><%= @f1[71] %></td></tr>
    <tr><td><%= @f0[72] %></td><td><%= @f1[72] %></td></tr>
    <tr><td><%= @f0[73] %></td><td><%= @f1[73] %></td></tr>
    <tr><td><%= @f0[74] %></td><td><%= @f1[74] %></td></tr>
    <tr><td><%= @f0[75] %></td><td><%= @f1[75] %></td></tr>
    <tr><td><%= @f0[76] %></td><td><%= @f1[76] %></td></tr>
    <tr><td><%= @f0[77] %></td><td><%= @f1[77] %></td></tr>
    <tr><td><%= @f0[78] %></td><td><%= @f1[78] %></td></tr>
    <tr><td><%= @f0[79] %></td><td><%= @f1[79] %></td></tr>
    <tr><td><%= @f0[80] %></td><td><%= @f1[80] %></td></tr>
    <tr><td><%= @f0[81] %></td><td><%= @f1[81] %></td></tr>
    <tr><td><%= @f0[82] %></td><td><%= @f1[82] %></td></tr>
    <tr><td><%= @f0[83] %></td><td><%= @f1[83] %></td></tr>
    <tr><td><%= @f0[84] %></td><td><%= @f1[84] %></td></tr>
    <tr><td><%= @f0[85] %></td><td><%= @f1[85] %></td></tr>
    <tr><td><%= @f0[86] %></td><td><%= @f1[86] %></td></tr>
    <tr><td><%= @f0[87] %></td><td><%= @f1[87] %></td></tr>
    <tr><td><%= @f0[88] %></td><td><%= @f1[88] %></td></tr>
    <tr><td><%= @f0[89] %></td><td><%= @f1[89] %></td></tr>
    <tr><td><%= @f0[90] %></td><td><%= @f1[90] %></td></tr>
    <tr><td><%= @f0[91] %></td><td><%= @f1[91] %></td></tr>
    <tr><td><%= @f0[92] %></td><td><%= @f1[92] %></td></tr>
    <tr><td><%= @f0[93] %></td><td><%= @f1[93] %></td></tr>
    <tr><td><%= @f0[94] %></td><td><%= @f1[94] %></td></tr>
    <tr><td><%= @f0[95] %></td><td><%= @f1[95] %></td></tr>
    <tr><td><%= @f0[96] %></td><td><%= @f1[96] %></td></tr>
    <tr><td><%= @f0[97] %></td><td><%= @f1[97] %></td></tr>
    <tr><td><%= @f0[98] %></td><td><%= @f1[98] %></td></tr>
    <tr><td><%= @f0[99] %></td><td><%= @f1[99] %></td></tr>
    <tr><td><%= @f0[100] %></td><td><%= @f1[100] %></td></tr>
    <tr><td><%= @f0[101] %></td><td><%= @f1[101] %></td></tr>
    <tr><td><%= @f0[102] %></td><td><%= @f1[102] %></td></tr>
    <tr><td><%= @f0[103] %></td><td><%= @f1[103] %></td></tr>
    <tr><td><%= @f0[104] %></td><td><%= @f1[104] %></td></tr>
    <tr><td><%= @f0[105] %></td><td><%= @f1[105] %></td></tr>
    <tr><td><%= @f0[106] %></td><td><%= @f1[106] %></td></tr>
    <tr><td><%= @f0[107] %></td><td><%= @f1[107] %></td></tr>
    <tr><td><%= @f0[108] %></td><td><%= @f1[108] %></td></tr>
    <tr><td><%= @f0[109] %></td><td><%= @f1[109] %></td></tr>
    <tr><td><%= @f0[110] %></td><td><%= @f1[110] %></td></tr>
    <tr><td><%= @f0[111] %></td><td><%= @f1[111] %></td></tr>
    <tr><td><%= @f0[112] %></td><td><%= @f1[112] %></td></tr>
    <tr><td><%= @f0[113] %></td><td><%= @f1[113] %></td></tr>
    <tr><td><%= @f0[114] %></td><td><%= @f1[114] %></td></tr>
    <tr><td><%= @f0[115] %></td><td><%= @f1[115] %></td></tr>
    <tr><td><%= @f0[116] %></td><td><%= @f1[116] %></td></tr>
    <tr><td><%= @f0[117] %></td><td><%= @f1[117] %></td></tr>
    <tr><td><%= @f0[118] %></td><td><%= @f1[118] %></td></tr>
    <tr><td><%= @f0[119] %></td><td><%= @f1[119] %></td></tr>
    <tr><td><%= @f0[120] %></td><td><%= @f1[120] %></td></tr>
    <tr><td><%= @f0[121] %></td><td><%= @f1[121] %></td></tr>
    <tr><td><%= @f0[122] %></td><td><%= @f1[122] %></td></tr>
    <tr><td><%= @f0[123] %></td><td><%= @f1[123] %></td></tr>
    <tr><td><%= @f0[124] %></td><td><%= @f1[124] %></td></tr>
    <tr><td><%= @f0[125] %></td><td><%= @f1[125] %></td></tr>
    <tr><td><%= @f0[126] %></td><td><%= @f1[126] %></td></tr>
    <tr><td><%= @f0[127] %></td><td><%= @f1[127] %></td></tr>
    <tr><td><%= @f0[128] %></td><td><%= @f1[128] %></td></tr>
    <tr><td><%= @f0[129] %></td><td><%= @f1[129] %></td></tr>
    <tr><td><%= @f0[130] %></td><td><%= @f1[130] %></td></tr>
    <tr><td><%= @f0[131] %></td><td><%= @f1[131] %></td></tr>
    <tr><td><%= @f0[132] %></td><td><%= @f1[132] %></td></tr>
    <tr><td><%= @f0[133] %></td><td><%= @f1[133] %></td></tr>
    <tr><td><%= @f0[134] %></td><td><%= @f1[134] %></td></tr>
    <tr><td><%= @f0[135] %></td><td><%= @f1[135] %></td></tr>
    <tr><td><%= @f0[136] %></td><td><%= @f1[136] %></td></tr>
    <tr><td><%= @f0[137] %></td><td><%= @f1[137] %></td></tr>
    <tr><td><%= @f0[138] %></td><td><%= @f1[138] %></td></tr>
    <tr><td><%= @f0[139] %></td><td><%= @f1[139] %></td></tr>
    <tr><td><%= @f0[140] %></td><td><%= @f1[140] %></td></tr>
    <tr><td><%= @f0[141] %></td><td><%= @f1[141] %></td></tr>
    <tr><td><%= @f0[142] %></td><td><%= @f1[142] %></td></tr>
    <tr><td><%= @f0[143] %></td><td><%= @f1[143] %></td></tr>
    <tr><td><%= @f0[144] %></td><td><%= @f1[144] %></td></tr>
    <tr><td><%= @f0[145] %></td><td><%= @f1[145] %></td></tr>
    <tr><td><%= @f0[146] %></td><td><%= @f1[146] %></td></tr>
    <tr><td><%= @f0[147] %></td><td><%= @f1[147] %></td></tr>
    <tr><td><%= @f0[148] %></td><td><%= @f1[148] %></td></tr>
    <tr><td><%= @f0[149] %></td><td><%= @f1[149] %></td></tr>
    <tr><td><%= @f0[150] %></td><td><%= @f1[150] %></td></tr>
    <tr><td><%= @f0[151] %></td><td><%= @f1[151] %></td></tr>
    <tr><td><%= @f0[152] %></td><td><%= @f1[152] %></td></tr>
    <tr><td><%= @f0[153] %></td><td><%= @f1[153] %></td></tr>
    <tr><td><%= @f0[154] %></td><td><%= @f1[154] %></td></tr>
    <tr><td><%= @f0[155] %></td><td><%= @f1[155] %></td></tr>
    <tr><td><%= @f0[156] %></td><td><%= @f1[156] %></td></tr>
    <tr><td><%= @f0[157] %></td><td><%= @f1[157] %></td></tr>
    <tr><td><%= @f0[158] %></td><td><%= @f1[158] %></td></tr>
    <tr><td><%= @f0[159] %></td><td><%= @f1[159] %></td></tr>
    <tr><td><%= @f0[160] %></td><td><%= @f1[160] %></td></tr>
    <tr><td><%= @f0[161] %></td><td><%= @f1[161] %></td></tr>
    <tr><td><%= @f0[162] %></td><td><%= @f1[162] %></td></tr>
    <tr><td><%= @f0[163] %></td><td><%= @f1[163] %></td></tr>
    <tr><td><%= @f0[164] %></td><td><%= @f1[164] %></td></tr>
    <tr><td><%= @f0[165] %></td><td><%= @f1[165] %></td></tr>
    <tr><td><%= @f0[166] %></td><td><%= @f1[166] %></td></tr>
    <tr><td><%= @f0[167] %></td><td><%= @f1[167] %></td></tr>
    <tr><td><%= @f0[168] %></td><td><%= @f1[168] %></td></tr>
    <tr><td><%= @f0[169] %></td><td><%= @f1[169] %></td></tr>

    </tbody>
  </table>

</div>


<div>
  <%= link_to 'Tanimoto Similarity', "/fileup/maccs_tanimoto" %>
</div>